# Configuración de Base de Datos
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Puertos
FRONTEND_PORT=8080
BACKEND_PORT=

# Configuracion pgadmin
# Direccion de correo real ej. @gmail.com
PGADMIN_EMAIL=admin@gmail.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050